  /* 背景宇宙星光  */
  #universe{
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

/* 页脚与头图透明 */
/* #footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}*/

/* 白天模式遮罩透明 */
/* #footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
} */

/* 夜间模式遮罩透明 */
/* [data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}*/

:root {
	--trans-light: rgba(255, 255, 255, 0.9);
	--trans-dark: rgba(30, 30, 30, 0.555);
	--backdrop-filter: blur(5px) saturate(150%);
  } 
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
	background: var(--trans-light);
	border-radius: 10px;
	
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
	background: var(--trans-light);
	border-radius: 15px;
	
  }
  
  /* 文章页、归档页、普通页面 */
  div#post,
  div#page,
  div#archive {
	background: var(--trans-light);
	border-radius: 15px;
	
  }

  
  /* 导航栏 */
  #page-header.nav-fixed #nav {
	background: rgba(255, 255, 255, 0.88);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
	background: rgba(0, 0, 0, 0.7) !important;
  }
  
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
	background: var(--trans-dark);
  }
  
  
  /* 夜间模式页脚页头遮罩透明 */
  [data-theme="dark"] #footer::before {
	background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
	background: transparent !important;
  }
  
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
	background: rgba(230, 230, 230, 0.333) !important;
  }
  .read-mode div#post {
	background: rgba(230, 230, 230, 0.333) !important;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
	background: rgba(13, 13, 13, 0.792) !important;
	color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
	background: rgba(30, 30, 30, 0.792) !important;
	color: #ffffff;
  }

 /*个人卡片背景*/
 /*白天主题下的配置*/
#aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%
}
/*黑暗主题下的配置*/
[data-theme=dark] #aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('https://i.ibb.co/m6dDjQQ/image.gif') !important
}

.loading-img {
  background: url(https://i.ibb.co/2PvmNMc/New-Concept-1.pngp) no-repeat center center;
  background-size: cover;
}
